<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/weathercraft/css/404.css"/>
    <title>404 - Not Found</title>
</head>
<body>
    <img src="/weathercraft/img/404.png" alt="img 404">    
</body>
</html>