<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - Weathercraft</title>
</head>
<body>
    <!-- <div>
        <div style="margin-bottom: 1rem;">
            <label for="selectCity" style="margin-right: 2rem;">Buscar ciudad:</label>
            <select name="selectCity" id="selectCity">
                <option value="">Seleccionar una opción</option>
            </select>
        </div>
        <div style="margin-bottom: 1rem;">
            <label for="history" style="margin-right: 2rem;">Historial:</label>
            <input type="text" id="history" name="history">
        </div>
        <div>
            <label for="exit">Salir</label>
        </div>
    </div> -->

    <div>
        <form method="GET" id="consultWeather" enctype="multipart/form-data">
            <div style="margin-bottom: 1rem;">
                <label for="latitud" style="margin-right: 2rem;">Latitud: </label>
                <input type="text" id="latitud" name="latitud">
            </div>
    
            <div style="margin-bottom: 1rem;">
                <label for="longitud" style="margin-right: 2rem;">Longitud: </label>
                <input type="text" id="longitud" name="longitud">
            </div>
            <button type="submit" id="consult">Consultar</button>
        </form>

        <p id="infoApi" style="color: brown;"></p>
    </div>
</body>
</html>