<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - Weathercraft</title>
</head>
<body>
    <div>
        <div style="margin-bottom: 1rem;">
            <label for="selectCity" style="margin-right: 2rem;">Buscar ciudad:</label>
            <select name="selectCity" id="selectCity">
                <option value="">Seleccionar una opción</option>
            </select>
        </div>
        <div style="margin-bottom: 1rem;">
            <label for="" style="margin-right: 2rem;">Historial:</label>
            <input type="text">
        </div>
        <div>
            <label for="">Salir</label>
        </div>
    </div>
</body>
</html>